%h1 Your wicked skills

%table
  %tr
    %th Name
    %th Experience
    %th Level
    %th Description
    %th
    %th
    %th

  - @skills.each do |skill|
    %tr{:class => cycle('odd', 'even')}
      %td= skill.name
      %td= skill.experience
      %td= skill.level
      %td= skill.description
      %td= link_to 'Show', skill
      %td= link_to 'Edit', edit_skill_path(skill)
      %td= link_to 'Destroy', skill, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New skill', new_skill_path
