%h1 Your wicked skills

%table

  - @skills.each do |skill|
    %tr{:class => cycle('odd', 'even')}
      %td= link_to skill.name, skill
      %td= skill.experience
      %td= skill.level
      %td= link_to ' <i class="fa fa-trash">'.html_safe, skill, 
          :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to '<i class="fa fa-plus"></i> add a skill'.html_safe, new_skill_path