!!! Strict
%html
  %head
    %link{:href => "http://fonts.googleapis.com/css?family=Ubuntu:400,400italic", :rel => "stylesheet", :type => "text/css"}
    %meta{:name => "viewport", :content => "width=device-width", "initial-scale" => "1"}
    %title
      myotherskills.org :: what can YOU do? 
    = csrf_meta_tag
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag :application
    = yield(:head)
    :css
      /* Sticky footer styles
      -------------------------------------------------- */

      html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by its height */
        margin: 0 auto -60px;
        /* Pad bottom by footer height */
        padding: 0 0 60px;
      }

      /* Set the fixed height of the footer here */
      #footer {
        height: 60px;
        background-color: #f5f5f5;
      }


      /* Custom page CSS
      -------------------------------------------------- */
      /* Not required for template or sticky footer method. */

      #wrap > .container {
        padding: 80px 15px 0;
      }
      .container .credit {
        margin: 20px 0;
      }

      #footer > .container {
        padding-left: 15px;
        padding-right: 15px;
      }

      code {
        font-size: 80%;
      }
  %body
    #wrap
      / Fixed navbar
      .navbar.navbar-default.navbar-fixed-top
        .container
          .navbar-header
            %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            = link_to MyOtherSkills::Application.config.application_name , root_path, :class => 'navbar-brand'
          .collapse.navbar-collapse
            %ul.nav.navbar-nav.pull-right
              - if user_signed_in?
                %li
                  %a{:href => edit_user_registration_path}
                    = fa_icon "cogs"
                    Edit profile
                %li
                  %a{:href => user_profile_path(current_user.username)}
                    = fa_icon "user"
                    Me
                %li
                  %a{:href => destroy_user_session_path, "data-method" => "delete", :rel => "nofollow"}
                    = fa_icon "sign-out"
                    Sign Out
              - else
                %li
                  %a{:href => new_user_session_path}
                    = fa_icon "sign-in"
                    Sign In / Up
              - if admin_signed_in?
                %li= current_admin.email
                %li= link_to 'Admin section', admins_path
                %li= link_to 'Manage users', manage_path
                %li
                  %a{:href => destroy_admin_session_path, "data-method" => "delete", :rel => "nofollow"}
                    = fa_icon "sign-out"
                    Sign Out
          / /.nav-collapse
      / Begin page content
      .container.container-main
        - flash.each do |name, msg|
          %div.alert.alert-info
            = content_tag :div, msg, id: "flash_#{name}" if msg.is_a?(String)
        - if show_title?
          %h1= h yield(:title)
        = yield
    #footer
      .container.text-center
        %p.text-muted.credit
          = MyOtherSkills::Application.config.application_name
          @ #{Time.now.year};
          a product of 
          = link_to "World Uniting, Inc.", "http://worlduniting.org", :target => '_blank'